<div class="container border rounded-top mt-5">
  <div class="row bg-light py-2 align-items-center">
    <p class="fw-bold fs-3">{{ contact.getName() }}</p>
    <div class="col-5">
      <img
        class="img-fluid"
        [src]="contact.getImageUrl()"
        [alt]="'Photo of' + contact.getName()"
      />
    </div>

    <div class="col-7 justify-content-evenly">
      <a class="btn btn-outline-success ms-3" role="button"> Edit </a>
      <a class="btn btn-outline-danger ms-4" role="button"> Delete </a>
    </div>
  </div>
  <div class="d-flex flex-column mt-4">
    <p class="fw-bold">Email: {{ contact.getEmail() }}</p>
    <p class="fw-bold">Phone: {{ contact.getPhone() }}</p>
  </div>
</div>
